.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .homepage-container {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
  }
  
  .display-picture {
    margin-right: 20px;
  }
  
  .display-picture img {
    width: 300px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  .content {
    max-width: 600px;
  }
  
  .objective {
    margin-bottom: 20px;
  }
  
  .objective h2 {
    margin-bottom: 10px;
  }
  